html{
    scroll-behavior: smooth;
}
*{
    color: #393a3b;
}
header{
    display: flex;
    flex-wrap: wrap;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,200,250,1) 100%);
    padding: 1em;
    justify-content: space-between;
}
main{
    background: rgb(195,200,250);
    background: linear-gradient(0deg, rgba(195,200,250,1) 0%, rgba(255,255,255,1) 100%);}
header ul{
    display: flex;
    font-size: 1.5em;
}
header h1{
    font-size: 2.5em;
}
header li{
    padding: .5em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1em;
}
.navlink:link, .navlink:visited{
    color: #393a3b;
}
#aboutme{
    padding: .5em;
    display: flex;
}
#aboutme p{
    padding: .5em;
}
#aboutme img{
    max-width: 200px;
    height: min-content;
    padding: .5em;
}
#divider{
    height: 0.5em;
    width: 100%;
    background-color: #c3c8fa;
}
#dividerbot{
    height: 0.5em;
    width: 100%;
    background-color: #e0e3fc;
}
#myprojects{
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.projectgroup{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.sectiontitle{
    border: .25em solid #c3c8fa;
    width: 10em;
    height: 100%;
    padding: 2px;
    text-align: center;
}
.projectcard{
    display: flex;
    width: 300px;
}
#project1{
    display: block;
    width: 100%;
    text-align: center;
}
#project2{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}
#project3{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}
#project4{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}
.projectheader{
    width: 100%;
    text-align: center;
}
.projectimg{
    width: 300px;
    margin-left: 50px;
}
#project1img{
    width: 500px;
    padding-left: 0;
}
.projectimg:hover{
    box-shadow: 10px 10px 5px #393a3b;
}
footer{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(195,200,250,1) 100%);
}
#contactme{
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
    justify-content: space-between;
}
@media screen and (max-width: 875px){
    header{
        justify-content: space-around;
    }
    header h1{
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
    header ul{
        display: flex;
        font-size: 1.25em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1em;
    }
    #aboutme img{
        max-width: 150px;
        height: min-content;
    }
    #project1img{
        max-width: 400px;
    }
}
@media screen and (max-width: 550px){
    header{
        justify-content: space-around;
    }
    header h1{
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }
    header ul{
        display: flex;
        font-size: .75em;
    }
    img, .projectcard{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: auto;
    }
    h2{
        font-size: 1em;
    }
    h3{
        font-size: .75em;
    }
    .projectcard h3{
        text-align: center;
    }
    .projectimg{
        max-width: 100%;
        display: block;
    }
    #aboutme{
        display: flex;
        flex-wrap: wrap;
    }
    .sectiontitle{
        display: block;
        width: 100%;
        text-align: center;
    }
    

}